body {
    font-family: 'Zilla Slab', serif;
}

.mordor {
    color: white;
    margin: 14% 10%;
    text-align: center;
}

.mordor button {
    border: 3px solid white;
    border-radius: 4px;
    background: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    width: 140px;
}

.article {
    display: inline-block;
    margin: 10px;
}

.article input {
    border-radius: 5px;
    padding: 5px;
}

.article label {
    font-weight: bold;
    font-size: 1..2rem;
}